{
  "midiDevice": "Profiler",
  "midiChannel": 1,
  "port": 3000,
  "huiOutputDevice": "IAC Driver Bus 3",
  "huiInputDevice": "IAC Driver Bus 2",
  "mmcOutputDevice": "IAC Driver Bus 1",
  "oauth": {
    "clientId": "midi-client",
    "clientSecret": "YOUR_CLIENT_SECRET",
    "accessToken": "YOUR_ACCESS_TOKEN"
  },
  "commands": {
    "slot 1": { "cc": 50, "value": 127 },
    "slot 2": { "cc": 51, "value": 127 },
    "slot 3": { "cc": 52, "value": 127 },
    "slot 4": { "cc": 53, "value": 127 },
    "slot 5": { "cc": 54, "value": 127 },
    "Toggle all effects": { "cc": 16, "value": 127 },
    "A module on": { "cc": 17, "value": 127 },
    "A module off": { "cc": 17, "value": 0 },
    "B module on": { "cc": 18, "value": 127 },
    "B module off": { "cc": 18, "value": 0 },
    "C module on": { "cc": 19, "value": 127 },
    "C module off": { "cc": 19, "value": 0 },
    "D module on": { "cc": 20, "value": 127 },
    "D module off": { "cc": 20, "value": 0 },
    "X module on": { "cc": 22, "value": 127 },
    "X module off": { "cc": 22, "value": 0 },
    "Modulation on": { "cc": 24, "value": 127 },
    "Modulation off": { "cc": 24, "value": 0 },
    "DELAY on": { "cc": 27, "value": 127 },
    "DELAY off": { "cc": 27, "value": 0 },
    "REVERB on": { "cc": 29, "value": 127 },
    "REVERB off": { "cc": 29, "value": 0 },
    "Tuner on": { "cc": 31, "value": 127 },
    "Tuner off": { "cc": 31, "value": 0 },
    "All effects off": { "multi": [
      { "cc": 17, "value": 0 },
      { "cc": 18, "value": 0 },
      { "cc": 19, "value": 0 },
      { "cc": 20, "value": 0 },
      { "cc": 22, "value": 0 },
      { "cc": 24, "value": 0 },
      { "cc": 27, "value": 0 },
      { "cc": 29, "value": 0 }
    ]},
    "set gain 1": { "cc": 72, "value": 32 },
    "set gain 2": { "cc": 72, "value": 56 },
    "set gain 3": { "cc": 72, "value": 80 },
    "set gain 4": { "cc": 72, "value": 104 },
    "set gain 5": { "cc": 72, "value": 127 },
    "set delay mix 1": { "cc": 68, "value": 7 },
    "set delay mix 2": { "cc": 68, "value": 16 },
    "set delay mix 3": { "cc": 68, "value": 26 },
    "set delay mix 4": { "cc": 68, "value": 35 },
    "set delay mix 5": { "cc": 68, "value": 45 },
    "set reverb mix 1": { "cc": 70, "value": 7 },
    "set reverb mix 2": { "cc": 70, "value": 16 },
    "set reverb mix 3": { "cc": 70, "value": 26 },
    "set reverb mix 4": { "cc": 70, "value": 35 },
    "set reverb mix 5": { "cc": 70, "value": 45 },
    "Looper start": { "cc": 81, "value": 81 },
    "Looper stop": { "cc": 82, "value": 82 },
    "performance 1": { "pc": 0 },
    "Little King": { "pc": 0 },
    "performance 2": { "pc": 5 },
    "EVH": { "pc": 5 },
    "performance 3": { "pc": 10 },
    "Marshall 1": { "pc": 10 },
    "performance 4": { "pc": 15 },
    "Marshall 2": { "pc": 15 },
    "performance 5": { "pc": 20 },
    "Mesa 1": { "pc": 20 },
    "performance 6": { "pc": 25 },
    "Mesa 2": { "pc": 25 },
    "performance 7": { "pc": 30 },
    "California Tweed": { "pc": 30 },
    "performance 8": { "pc": 35 },
    "High Gain 1": { "pc": 35 },
    "performance 9": { "pc": 40 },
    "High Gain 2": { "pc": 40 },
    "performance 10": { "pc": 45 },
    "Deluxe Reverb": { "pc": 45 },
    "performance 11": { "pc": 50 },
    "performance 12": { "pc": 55 },
    "performance 13": { "pc": 60 },
    "performance 14": { "pc": 65 },
    "performance 15": { "pc": 70 },
    "performance 16": { "pc": 75 },
    "performance 17": { "pc": 80 },
    "performance 18": { "pc": 85 },
    "performance 19": { "pc": 90 },
    "performance 20": { "pc": 95 },
    "play": { "os": "play" },
    "stop": { "os": "stop" },
    "go to beginning": { "os": "go_to_beginning" },
    "start recording": { "os": "record_start" },
    "stop recording": { "os": "stop" }
  }
}
